#content {
   background-color: bisque;
}

#header {
   display: flex;
   justify-content: space-between;
   background-color: gray;
}

#links {
   display: flex;
   gap: 20px;
}

#homeContent {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* #content {
   background-image: url('test.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
} */
