#content {
   background-color: bisque;
   height: 100vh;
}

#header {
   display: flex;
   justify-content: space-between;
   background-color: gray;
   height: 10%;
}

#links {
   display: flex;
   gap: 20px;
}

#home-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer {
   background-color: blue;
}
